<?xml version='1.0' encoding='utf-8'?>
<widget id="com.danielecampogiani.myphotodiary" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>My Photo Diary</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="daniele.campogiani@gmail.com" href="http://danielecampogiani.com">
        Daniele Campogiani
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
