<ion-view title="Settings" class="background">
    <ion-content padding="true">

        <div class="range">
            <span class="input-label">Pictures to load</span>
            <input type="range" name="picturesToLoad" min="1" max="30" ng-model="settings.howManyPicturesToFetch">
        </div>

        <button class="button button-block button-stable " ng-click="saveSettings()">
            Save Settings
        </button>

        <button class="button button-block button-assertive" ng-click="deleteAll()">
            Delete {{ howManyPictures() }} pictures
        </button>

    </ion-content>
</ion-view>