<div class="modal">
    <ion-header-bar class="bar-dark">
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        <h1 class="title">{{selectedPicture.description}}</h1>
    </ion-header-bar>
    <ion-content class="background">
        <div class="list card">


            <div class="item item-body">
                <img class="full-image" ng-src={{selectedPicture.url}}>
                <p>
                    {{selectedPicture.description}}
                </p>
            </div>


            <div class="button-bar">
                <button class="button icon ion-ios7-trash-outline" ng-click="deletePhoto(selectedPicture)">
                </button>
                <button class="button icon ion-ios7-upload-outline" ng-click="sharePhoto(selectedPicture)">
                </button>
            </div>

        </div>
    </ion-content>
</div>